* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  padding: 0;
  margin: 0;
}

header {
  background-image: url(../images/header-bg.png);
  background-size: cover;
  background-color: #1f8ce6;
  background-position: 50% calc(50% + 103px);
  background-repeat: no-repeat;
  height: 252px;
  padding: 62px 20px 0 20px;
  text-align: center;
  width: 100%;
}
header nav ul {
  display: flex;
}

header nav ul li a {
  background-image: url(../images/ridibooks.svg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
