* {
  box-sizing: border-box;
}

body {
  margin: 0;

  background-color: #f7fbff;
}

h3 {
  border-bottom: 1px solid #d6deeb;
  text-align: center;
  margin: 0;
  padding: 10px 0;
}

h3 a {
  text-decoration: none;
}
