* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f7fbff;
}

header {
  margin-bottom: 50px;
}

h3 {
  border-bottom: 1px solid #d6deeb;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  font-size: 1rem;
}

h3 a {
  text-decoration: none;
  color: #1f8ce6;
  font-weight: bold;
}

.idPw {
  display: flex;
  flex-flow: column;
  width: 400px;
  margin: 0 auto;
}

input.inputTag {
  padding: 15px;
  border: 1px solid #d6deeb;
  border-bottom: none;
}

.idPwMenu {
  display: flex;
  justify-content: space-between;
  border: 1px solid #d6deeb;
  padding: 10px 5px;
  font-size: 0.8rem;
  color: #666;
}

.idPwMenu .checkbox {
  margin-left: 5px;
}

.idPwMenu .findIdPw {
  display: flex;
}

.findIdPw p {
  margin: 0;
}

.findIdPw p.id-border {
  border-right: 1px solid #d6deeb;
}
