* {
  box-sizing: border-box;
  /* 마이리디홈 활성화 color #1f8ce6 */
  /* 책 color #40474d / rgb(102, 102, 102) */
  /* 선호작품 color #636c73 / #808991 */
  /* border-bottom 2px solid #f2f2f2 */
  /* logoutbtn:hover border #b3c2d1 / background #dfeef8 */
  /* logoutbtn border 2px solid #d6deeb / color #636c73 */
  /* 아이디 메일 로그아웃버튼 배경 #ebf6ff */
  /* 리디캐시 title color #000 */
  /* 0원 color #1f8ce6 */
  /* 리디캐시충전 color #636c73 */
  /* >> color #0077d9 */
  /* 밑에 0원 color #212529 */
  /* 최근조회작품 밑에 border 4px solid #f2f4f5 */
  /* 최근조회작품 color #636c73 */
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.header {
  background-color: #1f8ce6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  display: flex;
  margin-left: 10px;
}

.search h1 {
  color: white;
  font-size: 1.1em;
  margin-right: 10px;
  margin-bottom: 0;
}

.search h1#opacity {
  opacity: 0.5;
  border-left: 1px solid;
  padding-left: 10px;
}

.joinLogin {
  margin-right: 10px;
  margin-top: 10px;
}

.joinLogin button.btn {
  border-radius: 4px;
  padding: 5px 7px;
  letter-spacing: -1px;
  font-weight: bold;
  cursor: pointer;
}

.joinLogin button.borderBtn {
  background-color: transparent;
  color: white;
  border: 1px solid #99d1ff;
}

.relative input {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border-radius: 4px;
  border: none;
  padding-left: 40px;
}
.relative input:focus {
  outline: none;
}

.relative {
  position: relative;
  margin: 0 10px;
}

.relative span {
  color: #808991;
  position: absolute;
  top: 20px;
  left: 15px;
}

.header nav {
  padding: 1px;
}

.header nav ul {
  padding-left: 0;
  display: flex;
  justify-content: space-around;
}

.header ul li {
  list-style: none;
}

.header ul li a {
  text-decoration: none;
  color: white;
}

.sidebar nav {
  width: 200px;
}

.sidebar nav ul {
  list-style: none;
  padding: 5px 30px;
}

.sidebar nav ul h2 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 10px;
  letter-spacing: -1px;
}

.sidebar nav ul h4 {
  padding: 0;
  margin: 0;
  letter-spacing: -1px;
  font-size: 16px;
}

.sidebar nav ul.nav-title li {
  border-bottom: 2px solid #f2f2f2;
  padding-bottom: 20px;
}

.sidebar nav ul.nav-title li:first-child {
  border-bottom: none;
}

.sidebar nav ul.nav-list li {
  border-bottom: none;
  padding-bottom: 5px;
}

.footer {
  background: #303538;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
}

footer p.invisible {
  display: none;
}

footer .footer-menu1 {
  display: flex;
  justify-content: left;
  padding: 20px 10px;
  padding-bottom: 0;
}

footer .footer-menu1 a {
  margin: 0 10px;
  font-size: 1.2em;
  font-weight: bold;
}

footer .footer-menu1 a:first-child {
  margin-right: 0;
}

footer .footer-menu1 a span.borderR {
  border-right: 1px solid #525a61;
  padding-right: 10px;
}

footer .footer-menu2 {
  display: flex;
  padding: 20px;
  font-size: 0.9em;
  letter-spacing: -1px;
  padding-bottom: 0;
}

footer .footer-menu2 .footer-wrapper1 {
  margin-right: 40px;
}

footer .footer-menu2 .footer-wrapper1 p.bigFont {
  font-size: 1.2em;
}

footer .footer-menu2 .footer-wrapper2 {
  margin-left: 40px;
}

footer .footer-menu2 .footer-wrapper2 span.blue-bg {
  background-color: #509deb;
  border-radius: 2px;
  display: inline-block;
  width: 15px;
  height: 15px;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 0.75em;
}

footer .fontColor {
  color: #808991;
  padding: 10px;
  padding-left: 20px;
}

footer .copyright {
  font-size: 0.9em;
}

footer .fontColor p {
  color: #808991;
  font-size: 0.7em;
  margin: 0;
}

footer .footer-terms {
  display: flex;
  padding-bottom: 30px;
}

footer .footer-terms a p {
  border-right: 1px solid #525a61;
  padding: 0 10px;
}

footer .footer-terms a p.paddingL {
  padding-left: 0;
}
